.dropdownc:hover .dropdown-menu {
    display: block;
}
.dropdown-toggler::after {
    display: none;
}

.nav-h {
    height: 30px;
}

.enroll {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


@media only screen and (max-width: 767px) {
    .nav-h {
        height: auto;
    }
    /* Your styles for mobile devices go here */
}
