/* Dropdown container */
.dropdownc {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropdownc .dropdown-btn {
    background-color: #f1f1f1;
    color: #333;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    /* Add display flex to enable flexbox layout */
    align-items: center;
    /* Center vertically */
    justify-content: space-between;
    border-radius: 2rem;
    /* Make the button round */
    width: 20rem;
    /* Increase the button width */
}

.dropdownc .dropdown-btn .arrow {
    width: 10px;
    height: 10px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    transform: rotate(130deg);
    /* Rotate the arrow */
    margin-left: 5px;
    /* Adjust spacing between text and arrow */
}

.dropdownc .dropdown-btn.active {
    border-radius: 1rem 1rem 0 0;
}

/* Show dropdown when 'active' class is present */
.dropdownc .dropdown-btn.active+.dropdown-content {
    display: block;
}

/* Dropdown content (hidden by default) */
.dropdownc .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 20rem;
    /* Adjust the minimum width as needed */
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0.5rem 1rem;
}

/* Show dropdown content */
.dropdown.show .dropdown-content {
    display: block;
}

/* Dropdown links */
.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
}

/* Dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f6f5e1;
}

.nav-brand {
    font-size: 1.6rem;
    color: white;
}
.quote{
    font-size: 1.5rem;
}

/* Media query for mobile devices */
@media (max-width: 767px) {

    .dropdownc .dropdown-btn,
    .dropdownc .dropdown-content {
        width: 25rem;
        /* Set the button width to 20rem on mobile */
        height: auto;
        /* Allow the height to adjust to the content */
    }
    .quote{
        font-size: 1rem;
    }
}

/* Media query for tablet devices */
@media (min-width: 768px) and (max-width: 1023px) {

    .dropdownc .dropdown-btn,
    .dropdownc .dropdown-content {
        width: 30rem;
        /* Set the button width to 30rem on tablet */
        height: auto;
        /* Allow the height to adjust to the content */
    }
}