body {
    font-family: "Arial", Sans-serif;
}

.svg1 {
    aspect-ratio: 960/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.xyz1 {
    background-image: url('svg/xyz1.svg');
}

.svg2 {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.manifesto,
.cs {
    background-image: url('svg/manifesto2.svg');
}

.svg3 {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ixyzo3 {
    background-image: url('svg/ixyzo3.svg');
}

.svg4 {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.notice {
    background-image: url('svg/notice.svg');
}

.team {
    width: 57%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.result {
    width: 75%;
    display: block;
    margin-left: auto;
    border: 0.1rem solid white;
    border-radius: 1rem;
}

.center {
    display: grid;
    place-items: center;
}

.snbg {
    background: rgb(252, 175, 60);
    background: linear-gradient(180deg, rgba(252, 175, 60, 1) 0%, rgba(33, 37, 41, 1) 95%);
}

.link-cu {
    text-decoration: none;
    background-color: #fcf8e3;
    padding: 0.2rem;
    color: #212529;
}